@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tait's Trash Collection</h1>
    <p class="lead">As is said, one mans trash is another mans treasure. We at TTC are proud to serve our customers.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New Customers</h2>
        <p>
            We are accepting new customers!  Please click below or select "Sign Up" at the top to begin.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Existing Customers</h2>
        <p>Use the link below to sign in and check balance due, pick up date, add a one-time pick up, or set up a temporary suspension of service.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Environment</h2>
        <p>We pride ourselves on improving global sustainability. We are constantly working to limit the amount of trash in landfills, reduce
          emmissions, and find new ways to recycle and reuse waste material. Click the link below to learn more.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>